nav{
	width: 950px;
	margin: 40px auto 0 auto;
}


.top-movie>h2>span:nth-of-type(1){
	color: black;
	font-size: 16px;
	margin-right: 15px;
}
.top-movie h2 span a{
	color: #37a;
    text-decoration: none;
    font:15px Arial, Helvetica, sans-serif;;
}
.top-movie h2 span:nth-of-type(3) a{
	font-size: 12px;
	margin-left: 16px;
}
.top-movie h2 span a:hover{
	color: white;
    background-color: #2277AA;
}
.top-movie h2 {
	font-weight: normal;
	color: #111;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 18px;
}
.top-movie{
	float: left;
    width: 590px;
    padding-right: 40px;
}
.slide{
	float: right;
}
.slide span{
	line-height: 30px;
    color: #666;
	float: left;
	font-size: 12px;
}
.slide  a{
	cursor: pointer;
	margin: 5px 0 0 15px;
	float: left;
	width: 18px;
	height: 18px;
	text-decoration: none;
	display: block;
	background-color: #6D98D2;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	color: white;
	font-family: arial;
}
.slide a:hover{
	background-color: #6D98D2;
}

.hit-movie{
	overflow: hidden;
    position: relative;
    height: 270px;
}
#movie-slide{
	width: 6490px;
	position: absolute;
	top:0;
	left: 0;
}
#movie-slide li ul li a img{
	width:128px;
	height: 175px;
}
#movie-slide>li{
	margin: 0 10px 0 10px;
	float: left;
	position: relative;
	z-index: 0;
}
#movie-slide li ul li a {
	display: block;
}
.rating-star{
	margin: 3px 3px 0 0;
    width: 55px;
}
.title a{
	text-align: center;
	 display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    height: 24px;
    line-height: 24px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.poster{
	margin-bottom: 15px;
	
}
.rating{
	display: inline-block;
    zoom: 1;
    font-size: 12px;
    margin: 4px auto 2px;
    height: 19px;
    margin-left: 25px;
}
.ticket-btn{
	display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
}
.ticket-btn span a{
	background-color: #268dcd;
    color: #fff;
    text-decoration: none;
}
.subject-rate{
	color: #e09015;
    font-size: 12px;
    margin-left: 2px;
    float: left;
}
.rating-star{
	background-image: url(../img/ic_rating_s.png);
	background-position: 0 -22px;
	margin: 3px 3px 0 0;
    width: 55px;
	float: left;
	height: 11px;
	display: inline-block
}
.movie-info{
	position: absolute;
	width: 240px;
	height: 220px;
	background-color: white;
	border: 1px solid #DDDDDD;
	top:0px;
	left: -10px;
	z-index: 999;
}